<div
  class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
>
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form
                cForm
                [formGroup]="loginForm"
                [validated]="submitted()"
                (ngSubmit)="login()"
                class="login100-form"
                autocomplete="off"
              >
                <h1>Login</h1>
                <p class="text-body-secondary">Sign In to your account</p>
                <div *ngIf="loginForm.controls['username'] as ctrl">
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input
                      [valid]="
                        ctrl.touched && ctrl.valid
                          ? true
                          : (submitted() || ctrl.touched) && ctrl.invalid
                          ? false
                          : undefined
                      "
                      formControlName="username"
                      autoComplete="username"
                      cFormControl
                      id="username"
                      placeholder="Username"
                      required
                    />
                    <c-form-feedback
                      *ngIf="submitted() || ctrl.invalid"
                      [valid]="!(submitted() || ctrl.invalid)"
                    >
                      <ng-container *ngIf="ctrl.errors as errors">
                        <div *ngIf="errors?.['required']">
                          Username is required
                        </div>
                        <div *ngIf="errors?.['minlength']">
                          {{ formErrors().username.minLength }}
                        </div>
                        <div *ngIf="errors?.['pattern']">
                          {{ formErrors().username.pattern }}
                        </div>
                      </ng-container>
                    </c-form-feedback>
                  </c-input-group>
                </div>
                <div *ngIf="loginForm.controls['password'] as ctrl">
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      [valid]="
                        ctrl.touched && ctrl.valid
                          ? true
                          : (submitted() || ctrl.touched) && ctrl.invalid
                          ? false
                          : undefined
                      "
                      formControlName="password"
                      autoComplete="new-password"
                      cFormControl
                      placeholder="Password"
                      type="password"
                      required
                    />
                    <c-form-feedback
                      *ngIf="submitted() || ctrl.invalid"
                      [valid]="!(submitted() || ctrl.invalid)"
                    >
                      <ng-container *ngIf="ctrl.errors as errors">
                        <div *ngIf="errors?.['required']">
                          Password is required
                        </div>
                        <div *ngIf="errors?.['minlength']">
                          {{ formErrors().password.minLength }}
                        </div>
                        <div *ngIf="errors?.['pattern']">
                          {{ formErrors().password.pattern }}
                        </div>
                      </ng-container>
                    </c-form-feedback>
                  </c-input-group>
                </div>
                <c-row>
                  <c-col xs="6">
                    <button
                      cButton
                      class="px-4"
                      color="primary"
                      [disabled]="loginForm.pristine || loginForm.invalid"
                      type="submit"
                    >
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card
            [ngStyle]="{ 'minWidth.%': 44 }"
            class="text-white bg-primary py-5"
          >
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button
                  (click)="redirectToRegister()"
                  [active]="true"
                  cButton
                  class="mt-3"
                  color="primary"
                  routerLink="/register"
                >
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
